# Variáveis de ambiente para produção
# Banco de dados PostgreSQL
POSTGRES_DB=seu_banco_de_dados_postgres
POSTGRES_USER=seu_usuario_postgres_postgres
POSTGRES_PASSWORD=seua_senha_postgres_postgres
POSTGRES_PORT=5432
POSTGRES_VOLUME_PATH=/var/lib/postgresql/data

# API Spring Boot
API_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://seu_container_postgres:${POSTGRES_PORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
JAVA_OPTS=-Xms128m -Xmx512m

# Network
NETWORK_NAME=api-net